@inherits LayoutComponentBase
<div class="page">
     
    <div class="logo">
         
        <img src="images/logo2.png"/>
         
        @*<h1><b><i>Cosmetic</i> Finder</b></h1>*@
    </div> 

    <main>
        
    </main>

    <article>
        @Body   
    </article>
    @*<footer>
            <h4>Footer</h4> 
    </footer>*@

</div>