@inherits LayoutComponentBase
<div class="page">
     
    <div class="logo">
         
        @*<img src="images/logo2.png"/>*@
        <img class="card-img-top" src="images/logo2.png">

    </div>

    <article>
        @Body   
    </article>
 

</div>