/*
span.page-link {
    color: gray;
    background-color: white;
}
page-item.disabled {
    color: gray;
    background-color: red;
}
span.page-link.active {
    background-color: grey;
    color: white;
}*/