select.sort {
    border-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    min-height: 46px;
    padding: 10px;
    margin-bottom: 10px;
}