<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">- Sort By -</option>
        <option value="Nazwa a-z">Nazwa a-z</option>
        <option value="Nazwa z-a">Nazwa z-a</option>
        <option value="Cena rosnąco">Cena rosnąco</option>
        <option value="Cena malejąco">Cena malejąco</option>
    </select>
</section>

@code {
    [Parameter]
    public EventCallback<string> OnSortChanged { get; set; }
    private async Task ApplySort(ChangeEventArgs eventArgs)
    {
        if (eventArgs.Value.ToString() == "-1")
            return;
        await OnSortChanged.InvokeAsync(eventArgs.Value.ToString());
    }
}
