@*@using CosmeticFinder.FE.Gateways.Responses
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    @foreach(var item in Tags)
    {
        <button type="button" class="btn" 
                value="@item.TagValue" 
                name="@item.TagName">
        </button>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string TagName { get; set; }
    
    [Parameter]
    public string TagValue { get; set; }
    
    [Parameter] 
    public IEnumerable<TagResponse> Tags { get; set; }
*@