/*select*/
input[type=text], select {
    width: 400px;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    line-height: 16px;
    min-height: 40px;
    border: ridge;
    border-width: 2px;
    border-color: #f6f7fa;
    box-sizing: border-box;
    border-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

input[type=text], select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

    select.category {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
    }

        select.category:focus {
            background-image: linear-gradient(45deg, gray 50%, transparent 50%), linear-gradient(135deg, transparent 50%, gray 50%), linear-gradient(to right, #ccc, #ccc);
            background-position: calc(100% - 15px) 1em,calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
            background-size: 5px 5px, 5px 5px, 1px 1.5em;
            background-repeat: no-repeat;
            border-color: gray;
            outline: 0;
        }

    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }

.container {
    margin-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    float: left;
}

#fill_compose {
    float: left;
}

.category {
    margin-right: 2rem;
    width: 300px;
    float: left;
}

.search-btn {
    width: 200px;
    background: #FF4742;
    border: 1px solid #FF4742;
    margin: 1rem 1rem;
    border-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    /*box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;*/
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 1rem 1rem;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    float: left;
}

    .search-btn:hover,
    .search-btn:active {
        background-color: initial;
        background-position: 0 0;
        color: #FF4742;
    }

    .search-btn:active {
        opacity: .5;
    }

.isContain {
    color: #FF4742;
    padding: 0rem 0rem;
    margin-left: 2rem;
    line-height: 16px;
    min-height: 40px;
    font-size: 20px;
    clear: both;
}

.popularne {
    color: gray;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.popularne-btn {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    margin-left: .8rem;
    margin-right: .8rem;
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

    .popularne-btn:not([disabled]):focus {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }

    .popularne-btn:not([disabled]):hover {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }

    .loading {
        text-align: center;
        color: grey;
    }

